teachus-test/src/test/resources/full.dtd

<!ELEMENT dataset (
    application_configuration*,
    person*,
    period*,
    booking*,
    teacher_attribute*)>

<!ELEMENT application_configuration EMPTY>
<!ATTLIST application_configuration
    name CDATA #REQUIRED
    version CDATA #REQUIRED
    value CDATA #IMPLIED
>

<!ELEMENT person EMPTY>
<!ATTLIST person
    id CDATA #REQUIRED
    person_type CDATA #REQUIRED
    version CDATA #REQUIRED
    name CDATA #IMPLIED
    username CDATA #REQUIRED
    password CDATA #IMPLIED
    email CDATA #IMPLIED
    phone_number CDATA #IMPLIED
    locale CDATA #IMPLIED
    theme CDATA #IMPLIED
    active CDATA #IMPLIED
    currency CDATA #IMPLIED
    teacher_id CDATA #IMPLIED
>

<!ELEMENT period EMPTY>
<!ATTLIST period
    id CDATA #REQUIRED
    version CDATA #REQUIRED
    name CDATA #IMPLIED
    begin_date CDATA #IMPLIED
    end_date CDATA #IMPLIED
    start_time CDATA #IMPLIED
    end_time CDATA #IMPLIED
    week_days CDATA #IMPLIED
    teacher_id CDATA #IMPLIED
    location CDATA #IMPLIED
    price CDATA #IMPLIED
    lesson_duration CDATA #REQUIRED
    interval_between_lesson_start CDATA #REQUIRED
    repeat_every_week CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT booking EMPTY>
<!ATTLIST booking
    id CDATA #REQUIRED
    booking_type CDATA #REQUIRED
    version CDATA #REQUIRED
    active CDATA #IMPLIED
    period_id CDATA #IMPLIED
    date CDATA #IMPLIED
    create_date CDATA #IMPLIED
    update_date CDATA #IMPLIED
    teacher_id CDATA #IMPLIED
    pupil_id CDATA #IMPLIED
    notification_sent CDATA #IMPLIED
    paid CDATA #IMPLIED
>

<!ELEMENT teacher_attribute EMPTY>
<!ATTLIST teacher_attribute
    id CDATA #REQUIRED
    attribute CDATA #REQUIRED
    version CDATA #REQUIRED
    teacher_id CDATA #REQUIRED
    value CDATA #REQUIRED
>

